.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
sql_course.sql
data_course.sql
.idea/modules.xml
data_source_mapping.xml
.idea/data_source_mapping.xml
.idea/dataSources.local.xml
.idea/compiler.xml
.idea/libraries/
src/main/java/org/example/quan_ly_khoa_hoc/util/DatabaseUtil.java
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store